parametersSchema:
    messed_up: structure([
        pascal_case_class_name: structure([
            allow_consecutive_uppercase: bool(),
        ]),
        camel_case_method_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_in_tests: bool(),
            allow_underscore_prefix: bool(),
        ]),
        camel_case_property_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_prefix: bool(),
        ]),
        camel_case_parameter_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_prefix: bool(),
        ]),
        camel_case_variable_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_prefix: bool(),
        ]),
        short_variable: structure([
            minimum_length: int(),
            exceptions: arrayOf(string()),
            allow_in_for_loops: bool(),
            allow_in_foreach: bool(),
            allow_in_catch: bool(),
        ]),
        short_method_name: structure([
            minimum_length: int(),
            exceptions: arrayOf(string()),
        ]),
        boolean_get_method_name: structure([
            check_parameterized_methods: bool(),
        ]),
        long_class_name: structure([
            maximum: int(),
            subtract_prefixes: arrayOf(string()),
            subtract_suffixes: arrayOf(string()),
        ]),
    ])

# default parameters
parameters:
    messed_up:
        pascal_case_class_name:
            allow_consecutive_uppercase: false
        camel_case_method_name:
            allow_consecutive_uppercase: false
            allow_underscore_in_tests: false
            allow_underscore_prefix: false
        camel_case_property_name:
            allow_consecutive_uppercase: false
            allow_underscore_prefix: false
        camel_case_parameter_name:
            allow_consecutive_uppercase: false
            allow_underscore_prefix: false
        camel_case_variable_name:
            allow_consecutive_uppercase: false
            allow_underscore_prefix: false
        short_variable:
            minimum_length: 3
            exceptions: []
            allow_in_for_loops: false
            allow_in_foreach: false
            allow_in_catch: false
        short_method_name:
            minimum_length: 3
            exceptions: []
        boolean_get_method_name:
            check_parameterized_methods: false
        long_class_name:
            maximum: 40
            subtract_prefixes: []
            subtract_suffixes: []

services:
    -
        factory: Orrison\MessedUpPhpstan\Rules\PascalCaseClassName\Config
        arguments:
            - %messed_up.pascal_case_class_name.allow_consecutive_uppercase%
    -
        factory: Orrison\MessedUpPhpstan\Rules\CamelCaseMethodName\Config
        arguments:
            - %messed_up.camel_case_method_name.allow_consecutive_uppercase%
            - %messed_up.camel_case_method_name.allow_underscore_in_tests%
            - %messed_up.camel_case_method_name.allow_underscore_prefix%
    -
        factory: Orrison\MessedUpPhpstan\Rules\CamelCasePropertyName\Config
        arguments:
            - %messed_up.camel_case_property_name.allow_consecutive_uppercase%
            - %messed_up.camel_case_property_name.allow_underscore_prefix%
    -
        factory: Orrison\MessedUpPhpstan\Rules\CamelCaseParameterName\Config
        arguments:
            - %messed_up.camel_case_parameter_name.allow_consecutive_uppercase%
            - %messed_up.camel_case_parameter_name.allow_underscore_prefix%
    -
        factory: Orrison\MessedUpPhpstan\Rules\CamelCaseVariableName\Config
        arguments:
            - %messed_up.camel_case_variable_name.allow_consecutive_uppercase%
            - %messed_up.camel_case_variable_name.allow_underscore_prefix%
    -
        factory: Orrison\MessedUpPhpstan\Rules\ShortVariable\Config
        arguments:
            - %messed_up.short_variable.minimum_length%
            - %messed_up.short_variable.exceptions%
            - %messed_up.short_variable.allow_in_for_loops%
            - %messed_up.short_variable.allow_in_foreach%
            - %messed_up.short_variable.allow_in_catch%
    -
        factory: Orrison\MessedUpPhpstan\Rules\ShortMethodName\Config
        arguments:
            - %messed_up.short_method_name.minimum_length%
            - %messed_up.short_method_name.exceptions%
    -
        factory: Orrison\MessedUpPhpstan\Rules\BooleanGetMethodName\Config
        arguments:
            - %messed_up.boolean_get_method_name.check_parameterized_methods%
    -
        factory: Orrison\MessedUpPhpstan\Rules\LongClassName\Config
        arguments:
            - %messed_up.long_class_name.maximum%
            - %messed_up.long_class_name.subtract_prefixes%
            - %messed_up.long_class_name.subtract_suffixes%